body{
  background-image: url("../images/background3.jpg");
  background-size:cover;
}

.section {
  text-align:center;
}

#image_logo{
  position: absolute;
  z-index: 2;
}

#section1{
  /* background-image: url("../images/background3.jpg"); */
  /* background-size:cover; */
  z-index:1;
}

#my-element{
  font-family: 'Bilbo';
  font-size: 7em;
  margin-top:-1.5em;
}

.header__ul{
  position: absolute;
  right:30em;

}

.new_ul{
  font-size:0.8em;
  list-style-type:none;
}

.new_li{
  float:left;
}

.new_li a {
  list-style-type:none;
  text-align:center;
  font-family: 'Condiment';
  font-size: 2em;
  background-color: transparent;
  border:none;
  outline: none;
  cursor: pointer;
  text-decoration:none;
  display:block;
  color:black;
  text-align:center;
  padding:10px 35px;
}

.active-home1::after{
  content:"";
  border-bottom:2px solid black;
  display: block;
  width:1.5em;
  margin:0 auto;
  padding-top:2px;
}

.header__ul .active1{
  color:rgb(148, 144, 144);
}

.active1:hover{
  color:black;
}

.active1::after{
  content: "";
  display:block;
  width: 1.5em;    
  border-bottom:2px solid black;   
  transition: all 0.3s;
  transform: scale(0);
  margin:0 auto;
  padding-top:2px;
}

.active1:hover::after{
  transform: scale(1);   
} 

/* #section2{
  background-image:url("../images/background3.jpg") ;
  background-size:cover; 
} */

.card-body{
  border:1px solid transparent;
  height:560px;
  width:1000px;
  margin-top:40px;
  margin-left:20em;
  border-radius:2%;
  overflow: hidden;
  box-shadow:4px 4px 15px lightgrey;

}

.card-body__top{
  height:280px;
  background-size: cover;
  background-color:transparent;
}

.card-body__p{
  position: relative;
  flex-direction: row;
  text-align: right;
  margin-right:5em;
  top:5em;
}

.card-body__word-1{
  font-family: 'Bilbo';
  font-size:6em;
  color:white;
  margin-right: 4em;
}

.card-body__word-2{
  padding-top:20px;
  font-family: 'Bilbo';
  margin-top:-3em;
  font-size:1.5em;
  color:white;
  margin-right: 19em;
}

.card-body__picture{
  margin-right:40em;
  margin-top:-16em;
  border-radius: 10px;
  border:3px solid white;
  box-shadow: 1px 2px 5px rgb(255, 255, 255);
}

.skill_font{
  font-family: 'Bilbo';
}

.skill-bar{
  width:300px;
  margin-left:40em;
  margin-top:-9em;
}

.card-body__medium{
  border-top:2px solid rgba(48, 111, 170, 0.61);
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height:260px;
}

.card-body__medium-about{
  font-family: 'Andika';
  font-size:1.4em;
  margin-left:-7em;
}

.card-body__medium-me{
  font-family: 'Andika';
  font-size:1.4em;
  color:rgba(103, 151, 206, 0.856);
}

.card-body__medium-paragraph{
  font-family: 'Andika';
  font-size:1em;
  line-height:1.5em;
  color:rgb(88, 88, 88);
}

.card-body__medium-information{
  font-family: 'Andika';
  margin-top:30px;
  font-size:1em;
}

.card-body__medium-specific-information{
  font-family: 'Andika';
  margin-top:30px;
  font-size:1em;
  color:rgb(207, 207, 207);
}

.email{
  color:rgba(103, 151, 206, 0.856);
  text-decoration: none;
}
.email:hover{
  color:rgb(187, 187, 187)
}

.card-body__medium-introduction{
  width:420px;
  margin-top:20px;
}

/* #section3{
  background-image:url("../images/background1.jpg");
  width:100%;
} */

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  width:1200px;
  margin-left:13em;
  margin-top:3em;
}

/* Create three equal columns that sits next to each other */
.column {
  flex:33.33%;
}

.column-subordiante{
  width:380px;
  height:210px;
  margin-top:1em;
  box-shadow:4px 4px 15px lightgrey;
  border-radius: 5%;
}

.week2-journal{
  border:1px solid lightgrey;
  border-radius:2%;
  box-shadow:4px 4px 15px lightgrey;
}

.week2-journal {
  transition: transform .2s;
  margin: 0 auto;
}

.week2-journal:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  cursor: pointer;
}

.section3-word{
  font-family: 'Andika';
  padding-top:1em;
  color:rgb(0, 0, 0);
}

.section3-word-1{
  font-family: 'Andika';
  padding-top:1em;
  color:rgb(68, 68, 68);
}

.section3-word-2{
  font-family: 'Andika';
  padding-top:1em;
  color:rgb(199, 199, 199);
}

.popup {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  background-color: inherit;
  /* padding: 10px 28px; */
  margin-top:-1em;
  font-size: 1em;
  color: rgb(43, 95, 148);
}

.popup :hover{
  color:rgba(226, 221, 221, 0.822);
}

/* The actual popup */
.popup .popuptext {
  font-family: 'Andika';
  visibility: hidden;
  width: 500px;
  background-color: rgb(43, 95, 148);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 125%;
  left: 5%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* #section4{
  background-image:url("../images/background1.jpg") ;
  background-size:cover; 
} */

.div-personal{
  margin-left:-45%;
  margin-top:2em;
}

.div-storyboard{
  padding-top:20px;
  margin-left:-45%;
}

.personal-contribution{
  margin-top:-42em;
  margin-left:15em;
}

.Part-A{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:-11em;
}

.contribution-title{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
}

.contribution-title-2{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
}

.personal-content{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:40%;
  margin-top:1em;
  color:rgb(255, 255, 255);
  border-radius: 3%;
  font-family: 'Andika';
}

.wrap2{
  width:1500px;
}

.section4-picture1{
  margin-top:4em;
}

.div-personal1{
  position: relative;
  margin-left:-45%;
  margin-top:-1em;
}

.div-storyboard1{
  padding-top:20px;
  margin-left:-45%;
}

.personal-contribution1{
  margin-top:-45em;
  margin-left:15em;
}

.Part-A1{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:2em;
}

.contribution-title1{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
}

.contribution-title-2-1{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
}

.personal-content1{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:30em;
  margin-top:5em;
  color:rgb(255, 255, 255);
  border-radius: 3%;
  font-family: 'Andika';
}


/* #section5{
  background-image:url("../images/background1.jpg") ;
} */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container1 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-picture{
  border-radius: 3%;;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
  margin-left:-40em;
  margin-top:3em;
}

.numbertext{
  color:black;
  font-family: 'Bilbo';
  position: relative;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.personal-contribution-B{
  margin-top:-45em;
  margin-left:25em;
}

.Part-B{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:2em;
}

.contribution-title-B{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
}

.contribution-title-B-1{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
}

.personal-content-B{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:25em;
  margin-top:5em;
  color:white;
  border-radius: 3%;
  font-family: 'Andika';
}

/*
---------------
*/

.slideshow-container2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-picture2{
  border-radius: 3%;;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
  margin-left:-40em;
  margin-top:8em;
}

.numbertext2{
  color:black;
  font-family: 'Bilbo';
  position: relative;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

.personal-contribution-B-2{
  margin-top:-45em;
  margin-left:25em;
}

.Part-B-2{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:2em;
}

.contribution-title-B-2{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
}

.contribution-title-B-1-2{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
}

.personal-content-B-2{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:25em;
  margin-top:5em;
  color:white;
  border-radius: 3%;
  font-family: 'Andika';
}

.personal-contribution-B-3{
  margin-top:-10em;
  margin-left:1em;
}

.Part-B-3{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:2em;
}

.contribution-title-B-3{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
}

.contribution-title-B-1-3{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
}

.personal-content-B-3{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:31em;
  margin-top:5em;
  color:white;
  border-radius: 3%;
  font-family: 'Andika';
}
/* 
#section6{
  background-image:url("../images/background1.jpg");
  background-size:cover;
} */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container6 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-picture6{
  border-radius: 3%;;
}

/* Hide the images by default */
.mySlides6 {
  display: none;
  margin-left:-40em;
  margin-top:10em;
}

.numbertext6{
  color:black;
  font-family: 'Bilbo';
  position: relative;
}

/* Fading animation */
.fade6 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade6 {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade6 {
  from {opacity: .4}
  to {opacity: 1}
}

.personal-contribution-C-1{
  margin-top:-50em;
  margin-left:25em;
}

.Part-C-1{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:2em;
}

.contribution-title-C{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
}

.contribution-title-C-1{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
}

.personal-content-C{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:25em;
  margin-top:1em;
  color:white;
  border-radius: 3%;
  font-family: 'Andika';
}

.slideshow-container6-1 {
  display: flex;
  width:1200px;
  margin-left:10em;
  margin-top:3em;
}

/* Create three equal columns that sits next to each other */
.mySlides6-1 {
  flex:33.33%;
  padding-left:2em;
  margin-left:1.5em;
  overflow:hidden;
}

.slide-picture6-1{
  border-radius: 2%;
}

.partC-tradeshow-word{
  font-family: 'Bilbo';
  font-size: 4em;
}


#section6-slide2{
  width:2000px;
}

.personal-contribution-C-2{
  margin-top:-10em;
  margin-left:5em;
}

.Part-C-2{
  font-family: 'Bilbo';
  font-size: 4em;
  color:black;
  margin-top:2.5em;
  margin-left:-10em;
}

.contribution-title-C-2{
  margin-top:-1.5em;
  font-family: 'Bilbo';
  font-size: 1.5em;
  color:rgb(63, 96, 128);
  margin-left:-27em;
}

.contribution-title-C-1-2{
  font-family: 'Bilbo';
  font-size: 2em;
  margin-top:-1em;
  color:rgb(56, 95, 121);
  margin-left:-20em;
}

.personal-content-C-2{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  margin-left:5em;
  margin-top:6em;
  color:black;
  border-radius: 3%;
  font-family: 'Andika';
}

.personal-content-C-2-1{
  box-shadow:4px 4px 15px lightgrey;
  width:610px;
  max-width:610px;
  margin-left:50em;
  margin-top:-40em;
  color:white;
  border-radius: 3%;
  font-family: 'Andika';
}

#section7{
  background-image:url("../images/background8.jpg");
  background-size:cover;
}
.portfolio{
  font-family: 'Bilbo';
  font-size: 4em;
  margin-top:20px;
  color:white;
}

.gallery{
  margin-left:8em;
  margin-top:-2.5em;
  font-size:2em;
  font-family: 'Condiment';
  color:white;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  width:1100px;
  height:550px;
  overflow: auto;
  margin:2em auto;
  box-shadow:4px 4px 15px rgb(255, 255, 255); 
  border-radius: 2%;
}

::-webkit-scrollbar{
  border-radius: 10px; 
  background-color:rgba(56, 187, 176, 0.678);
}

::-webkit-scrollbar-track  
{  
  border-radius: 10px;
  background-color: #FFF;  
}  

::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;   
    background-color:rgb(78, 78, 78);
} 

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 20%;
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 90%;
  border-radius:2%;
}

.column1 img:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 140, 186, 0.5);
}


.reference{
  color:white;
  font-family: 'Andika';
}

.reference-list{
  margin-top:-1em;
  margin-left:-77%;
  padding-right:2em;
}

.first-reference{
  padding-right:1em;
}

.third-reference{
  margin-left:-1.5em;
  padding-right:3em;
}